{% extends 'base.html' %}

{% block title %}{{ manga.name }}{% endblock title %}

{% block body %}
    <form id="download_manga_form" action="/manga/download/" method="post" ng-controller="ChapterCtrl" ng-submit="submit_form($event)">
        <div class="row">
            <h3 class="pull-left" style="margin-top:10px">{{ manga.name }}</h3>
            <input type="submit" class="btn btn-primary pull-right" value="Add to Queue">
        </div>

        <table class="table table-striped table-bordered table-hover table-condensed">
            <thead>
                <tr>
                    <th class="text-center">
                        <input type="checkbox" ng-model="select_all" ng-click="check_all()">
                    </th>
                    <th><strong>Name</strong></th>
                    <th><strong>Date</strong></th>
                </tr>
            </thead>
            <tbody>
                {% raw %}
                <tr ng-repeat="chapter in chapters">
                    <td class="text-center">
                        <input type="checkbox" name="selected_chapters" ng-model="chapter.selected" ng-click="check_chapter(chapter.selected, $index, $event)" value="{{ chapter.link }}">
                    </td>
                    <td>
                        {{ chapter.name }}
                    </td>
                    <td>
                        {{ chapter.date * 1000 | date:'dd MMM yyyy' }}
                    </td>
                </tr>
                {% endraw %}
            </tbody>
        </table>

        <div class="row">
            <input type="submit" class="btn btn-primary pull-right" value="Add to Queue">
        </div>
    </form>
{% endblock body %}

<script>
{% block angularjs %}
    var mangaApp = angular.module('mangaApp', []);
    var chapters = {{ json_data|tojson|safe }};

    mangaApp.controller('ChapterCtrl', function($scope, $http) {
        $scope.chapters = chapters;
        $scope.last_checked = null;

        //check and uncheck all
        $scope.check_all = function () {
            $scope.select_all = !!$scope.select_all;

            angular.forEach($scope.chapters, function (chapter) {
                chapter.selected = $scope.select_all;
            });
        };

        //check and uncheck all
        $scope.check_chapter = function (selected, idx, event) {
            if ($scope.last_checked === null) {
                $scope.last_checked = idx;
                return
            }

            if (event.shiftKey) {
                angular.forEach($scope.chapters.slice(
                    Math.min(idx, $scope.last_checked),
                    Math.max(idx, $scope.last_checked) + 1
                ), function (chapter) {
                    chapter.selected = true;
                });
            }
            $scope.last_checked = idx;
        };

        // form submission
        $scope.submit_form = function (e) {
            e.preventDefault();

            //select the relevant chapters
            var selected_chapters = $scope.chapters.filter(function(chapter) {
                return chapter.selected === true;
            });

            //only do work if we need to
            if (selected_chapters.length === 0)
                return

            render_spinner();

            //do the actual submission via a JSON post
            $http.post(
                $(e.currentTarget).prop("action"),
                selected_chapters.reverse()
            ).success(function(data) {
                console.debug(data);
            }).error(function() {
                console.error("FORM SUBMISSION ERROR");
                render_spinner(false);
            });
        }
    });
{% endblock angularjs %}
</script>
